* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100%;
  padding: 0 8rem;
}

:root {
  --ln: 1px solid #424242;
}

html {
  scroll-behavior: smooth;
  margin-left: 4rem;
  margin-right: 4rem;
}

h2 {
  font-family: 'Poppins', Arial, sans-serif;
  font-style: normal;
  font-size: 24px;
  color: black;
}

h3 {
  font-family: 'Poppins', Arial, sans-serif;
  font-style: normal;
  font-size: 20px;
  color: black;
  margin-bottom: 30px;
}

p {
  font-family: 'Inconsolata', Helvetica, monospace;
  font-size: 20px;
  color: black;
}

ul {
  font-family: 'Inconsolata', Helvetica, monospace;
  font-size: 20px;
  color: black;
}

.tab {
  margin-left: 40px;
}

@media only screen and (max-width: 1400px) {
  :root {
    line-height: 2rem;
  }
}

@media only screen and (max-width: 1200px) {
  html {
    margin-left: 0rem;
    margin-right: 0rem;
  }
}

/* Header nav*/
#header_nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2rem;
  /* border: var(--ln); */
}

a {
  padding: 8px;
  font-family: 'Poppins';
  font-style: normal;
  font-size: 15px;
  color: black;
}

#with_line {
  padding-top: 2px;
  border-left: 3px solid black;
  padding-bottom: 2px;
}

/* Intro */
.main_div {
  position: relative;
  min-height: 100vh;
}

.start {
  height: 300px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  /* border: var(--ln); */
}

#intro {
  margin-top: 40px;
  margin-bottom: 40px;
  grid-column: span 12;
  font-family: 'Poppins';
  font-style: normal;
  font-size: 24px;
}

.greenText {
  color: #409488;
}

#intro_p {
  font-family: 'Inconsolata', monospace;
  font-style: normal;
  font-size: 40px;
  grid-row: 2;
  grid-column: 2/13;
  margin-bottom: 20px;
}

.button {
  height: 48px;
  width: 70px;
  font-family: 'Poppins';
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  transition-duration: 0.4s;
  cursor: pointer;
  grid-row: 3;
  grid-column: 12/13;
}

.about {
  background-color: transparent;
  color: #409488;
}

.about:hover {
  background-color: transparent;
  color: #16413B;
  border: none;
}

.section_line {
  display: block;
  margin-top: 5%;
  overflow: hidden;
  border-style: double;
  border-width: 2px;
  color: #409488;
  background-color: #409488;
  height: 4px;
  grid-column: span 12;
}

/* Hero section */
.hero {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat (3, 1fr);
  gap: 1rem;
  align-content: start;
  /* border: var(--ln); */
}

#section_header {
  font-family: 'Inconsolata';
  font-size: 36px;
  color: #409488;
  margin-top: 2rem;
  margin-bottom: 2rem;
  grid-column: span 12;
}

.hlinelist li {
  margin-top: 5px;
  display: inline-block;
  font-family: "Poppins";
  font-size: 13px;
}

.hlinelist2 li {
  margin-top: 5px;
  display: inline-block;
  font-family: "Poppins";
  font-size: 20px;
}

/* Left Section */
.hero .left {
  grid-row: 2;
  grid-column: 1/9;
}

.coloured_container_1 {
  width: 100%;
  height: 70%;
  background-color: #FF9831;
  display: flex;
  align-items: center;
  justify-content: center;
}

#img1 {
  width: 80%;
  align-items: center;
  justify-content: center;
}

/* Right Section */
.hero .right {
  grid-row: 2;
  grid-column: 9/13;
  /* border: var(--ln); */
}

.coloured_container_2 {
  width: 100%;
  height: 70%;
  background-color: #4FBAD1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#img2 {
  padding-top: 30%;
  padding-left: 20%;
  padding-right: 10%;
  padding-bottom: 30%;
  width: 90%;
  align-items: center;
  justify-content: center;
}

.text_under_image {
  margin-top: 20px;
  grid-row: 3;
}

#project_name {
  font-family: "poppins";
  font-size: 20px;
  text-align: center;
}

.hlinelist {
  text-align: center;
}

/* About Me */
.aboutMe {
  height: 720px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  align-content: start;
}

.aboutMe_content {
  height: 400px;
  grid-column: span 6;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.aboutMe_title {
  font-family: 'Poppins';
  font-style: normal;
  font-size: 24px;
  color: black;
  margin-bottom: 2rem;
}

.aboutMe_text {
  font-family: 'Inconsolata';
  font-size: 20px;
  color: black;
}

.image_container {
  background: #5C92D5;
  grid-column: span 6;
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutMe_image {
  background-image: url(../images/Image_me.jpg);
  width: 80%;
  aspect-ratio: 1 / 1;
  background-size: cover;
  border-radius: 50%;
  background-position: 40% 50%;
}

.contactMe {
  height: 720px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}

/* Footer */
.footer {
  /* border: var(--ln); */
  height: 10%;
  position: relative;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
  display: block;
  overflow: hidden;
  padding: 10px 0;
  left: 0;
  background-color: #18181a;
}

.inner_footer {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.inner_footer .logo_container {
  width: 32%;
  float: left;
  margin-left: 10%;
}

.inner_footer .logo_container img {
  width: 1.5rem;
  height: 1.5rem;
  margin-bottom: -6px;
  margin-top: 5px;
}

.inner_footer .logo_container .action {
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  color: white;
}

.inner_footer .footer_forth {
  width: fit-content;
  margin-right: 10px;
  float: left;
  height: 100%;
}

.inner_footer .footer_forth:last-child {
  margin-right: 0;
}

.inner_footer .footer_forth h1 {
  font-family: "Poppins";
  font-size: 14px;
  color: white;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.inner_footer .footer_forth a {
  font-family: "Poppins";
  font-size: 14px;
  color: white;
  display: block;
  font-weight: 200;
  width: 100%;
  padding-bottom: 5px;
}

@media(max-width: 600px) {
  .footer .inner_footer {
    width: 90%;
  }
}

.inner_footer .logo_container .inner_footer .footer_forth {
  width: 100%;
  margin-bottom: 30px;
}

/* PROJECTS Hero START */

#hero {
  background-color: #FF9831;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.hero-image {
  padding: 4rem;
  margin: 0 auto;
  height: 600px;
  width: auto;
}

@media only screen and (max-width: 1600px) {
  .hero-image {
    margin: 0 auto;
    height: 400px;
    width: auto;
  }
}

@media only screen and (max-width: 1000px) {
  .hero-image {
    margin: 0 auto;
    height: 300px;
    width: auto;
  }
}

@media only screen and (max-width: 650px) {
  .hero-image {
    margin: 0 auto;
    height: 250px;
    width: auto;
  }
}

/* PROJECTS Hero END */

/* PROJECTS Grids START */

#grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-bottom: 4rem;
  margin-top: 2rem;
}

#gridbox {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-bottom: 4rem;
  margin-top: 2rem;
  background-color: #FCEBD9;
}

.header {
  margin-bottom: 2rem;
}

.p-info {
  margin-bottom: 2rem;
}

.info-left {
  grid-column: 2 / 7;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid-image-right {
  grid-column: 8 / 12;
  background-image: url("../images/WIRES.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 200px;
}

.info-right {
  grid-column: 8 / 12;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-center {
  grid-column: 2 / 13;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid-image-left {
  grid-column: 2 / 7;
  background-image: url("../images/WIRES.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 200px;
}

.insight1 {
  grid-column: 2 / 5;
  background-color: #FCEBD9;
  margin-bottom: 20px;
  padding: 40 40 40 40;
}

.insight2 {
  grid-column: 6 / 9;
  background-color: #FCEBD9;
  margin-bottom: 20px;
  padding: 40 40 40 40;
}

.insight3 {
  grid-column: 10 / 13;
  background-color: #FCEBD9;
  margin-bottom: 20px;
  padding: 40 40 40 40;
}

.insight4 {
  grid-column: 2 / 5;
  background-color: #FCEBD9;
  padding: 40 40 40 40;
}

.insight5 {
  grid-column: 6 / 9;
  background-color: #FCEBD9;
  padding: 40 40 40 40;
}

.insight6 {
  grid-column: 10 / 13;
  background-color: #FCEBD9;
  padding: 40 40 40 40;
}

.list {
  grid-column: 2 / 13;
}

.overview1 {
  grid-column: 2 / 4;
  margin-bottom: 50px;
}

.overview2 {
  grid-column: 5 / 7;
  margin-bottom: 50px;
}

.overview3 {
  grid-column: 8 / 10;
  margin-bottom: 50px;
}

.overview_title {
  font-family: 'Inconsolata';
  font-size: 36px;
  color: #409488;
  margin-top: 2rem;
  margin-left: 40px;
  margin-bottom: 2rem;
  grid-column: span 12;
}

/* PROJECTS Grids END */