* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100%;
  padding: 0 8rem;
}

:root {
  --ln: 1px solid #424242;
}

html {
  scroll-behavior: smooth;
  margin-left: 4rem;
  margin-right: 4rem;
}

h2 {
  font-family: 'Poppins', Arial, sans-serif;
  font-style: normal;
  font-size: 24px;
  color: black;
}

h3 {
  font-family: 'Poppins', Arial, sans-serif;
  font-style: normal;
  font-size: 20px;
  color: black;
  margin-bottom: 30px;
}

p {
  font-family: 'Inconsolata', Helvetica, monospace;
  font-size: 20px;
  color: black;
}

ul {
  font-family: 'Inconsolata', Helvetica, monospace;
  font-size: 20px;
  color: black;
}

.tab {
  margin-left: 40px;
}

.doubletab {
  margin-left: 125px;
}

@media only screen and (max-width: 1400px) {
  :root {
    line-height: 2rem;
  }
}

@media only screen and (max-width: 1200px) {
  html {
    margin-left: 0rem;
    margin-right: 0rem;
  }
}

/* Header nav*/
#header_nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2rem;
  /* border: var(--ln); */
}

a {
  padding: 8px;
  font-family: 'Poppins';
  font-style: normal;
  font-size: 15px;
  color: black;
}

#with_line {
  padding-top: 2px;
  border-left: 3px solid black;
  padding-bottom: 2px;
}

/* Intro */
.main_div {
  position: relative;
  min-height: 100vh;
}

.start {
  height: 300px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  /* border: var(--ln); */
}

#intro {
  margin-top: 40px;
  margin-bottom: 40px;
  grid-column: span 12;
  font-family: 'Poppins';
  font-style: normal;
  font-size: 24px;
}

.greenText {
  color: #409488;
}

#intro_p {
  font-family: 'Inconsolata', monospace;
  font-style: normal;
  font-size: 40px;
  grid-row: 2;
  grid-column: 2/13;
  margin-bottom: 20px;
}

.button {
  height: 48px;
  width: 70px;
  font-family: 'Poppins';
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  transition-duration: 0.4s;
  cursor: pointer;
  grid-row: 3;
  grid-column: 12/13;
}

.about {
  background-color: transparent;
  color: #409488;
}

.about:hover {
  background-color: transparent;
  color: #16413B;
  border: none;
}

.section_line {
  display: block;
  margin-top: 4%;
  overflow: hidden;
  border-style: double;
  border-width: 2px;
  color: #409488;
  background-color: #409488;
  height: 4px;
  grid-column: span 12;
}

/* Hero section */
.hero {
  height: 70%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat (3, 1fr);
  gap: 1rem;
  align-content: start;
  /* border: var(--ln); */
}

#section_header {
  font-family: 'Inconsolata';
  font-size: 36px;
  color: #409488;
  margin-top: 2rem;
  margin-bottom: 2rem;
  grid-column: span 12;
}

.hlinelist li {
  margin-top: 5px;
  display: inline-block;
  font-family: "Poppins";
  font-size: 13px;
}

.hlinelist2 li {
  margin-top: 5px;
  display: inline-block;
  font-family: "Poppins";
  font-size: 20px;
}

/* Left section */
.hero .left {
  grid-row: 2;
  grid-column: 1/9;
}

.coloured_container_1 {
  width: 100%;
  height: 70%;
  background-color: #FF9831;
  display: flex;
  align-items: center;
  justify-content: center;
}

#img1 {
  width: 80%;
  align-items: center;
  justify-content: center;
}

/* Right section */
.hero .right {
  grid-row: 2;
  grid-column: 9/13;
  /* border: var(--ln); */
}

.coloured_container_2 {
  width: 100%;
  height: 70%;
  background-color: #4FBAD1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#img2 {
  padding-top: 30%;
  padding-left: 20%;
  padding-right: 10%;
  padding-bottom: 30%;
  width: 90%;
  align-items: center;
  justify-content: center;
}

.text_under_image {
  margin-top: 20px;
  grid-row: 3;
}

#project_name {
  font-family: "poppins";
  font-size: 20px;
  text-align: center;
}

.hlinelist {
  text-align: center;
}

/* About me */
.aboutMe {
  /* height: 900px; */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  align-content: start;
}

.aboutMe_content {
  /* height: 600px; */
  grid-column: 2 / 8;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.aboutMe_title {
  font-family: 'Poppins';
  font-style: normal;
  font-size: 24px;
  color: black;
  margin-bottom: 2rem;
}

.aboutMe_text {
  font-family: 'Inconsolata';
  font-size: 20px;
  color: black;
}

.image_container {
  background: #5C92D5;
  grid-column: 10 / 13;
  padding: 50px;
  width: 440px;
  height: 440px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutMe_image {
  background-image: url(../images/Image_me.jpg);
  width: 90%;
  aspect-ratio: 1 / 1;
  background-size: cover;
  border-radius: 50%;
  background-position: 40% 50%;
}

@media screen and (max-width: 1400px) {
  .aboutMe_title {
    font-size: 20px;
  }

  .aboutMe_text {
    font-size: 16px;
  }

  #section_header {
    font-size: 32px;
  }

  .image_container {
    grid-column: 11 / 13;
    padding: 40px;
  }
}

/* Contact me */
.contactMe {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
}

.contactMe_content1 {
  grid-column: 2 / 6;
  margin-bottom: 150px;
}

.contactMe_content2 {
  grid-column: 7 / 11;
  margin-bottom: 150px;
}

.contactMe_title {
  font-family: 'Poppins';
  font-style: normal;
  font-size: 24px;
  color: black;
  margin-bottom: 2rem;
  grid-column: 2 / 6;
}

.contactMe_title2 {
  font-family: 'Poppins';
  font-style: normal;
  font-size: 20px;
  color: black;
  margin-bottom: 2rem;
  grid-column: 2 / 6;
}

.contactMe_text {
  font-family: 'Inconsolata';
  font-size: 20px;
  color: black;
}

/* Footer */
.footer {
  /* border: var(--ln); */
  height: 10%;
  position: relative;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
  display: block;
  overflow: hidden;
  padding: 10px 0;
  left: 0;
  background-color: #18181a;
}

.inner_footer {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.inner_footer .logo_container {
  width: 32%;
  float: left;
  margin-left: 10%;
}

.inner_footer .logo_container img {
  width: 1.5rem;
  height: 1.5rem;
  margin-bottom: -6px;
  margin-top: 5px;
}

.inner_footer .logo_container .action {
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  color: white;
}

.inner_footer .footer_forth {
  width: fit-content;
  margin-right: 10px;
  float: left;
  height: 100%;
}

.inner_footer .footer_forth:last-child {
  margin-right: 0;
}

.inner_footer .footer_forth h1 {
  font-family: "Poppins";
  font-size: 14px;
  color: white;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.inner_footer .footer_forth a {
  font-family: "Poppins";
  font-size: 14px;
  color: white;
  display: block;
  font-weight: 200;
  width: 100%;
  padding-bottom: 5px;
}

@media(max-width: 600px) {
  .footer .inner_footer {
    width: 90%;
  }
}

.inner_footer .logo_container .inner_footer .footer_forth {
  width: 100%;
  margin-bottom: 30px;
}

/* PROJECTS Hero */

#hero {
  background-color: #FF9831;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.hero-image {
  padding: 4rem;
  margin: 0 auto;
  height: 600px;
  width: auto;
}

@media only screen and (max-width: 1600px) {
  .hero-image {
    margin: 0 auto;
    height: 400px;
    width: auto;
  }
}

@media only screen and (max-width: 1000px) {
  .hero-image {
    margin: 0 auto;
    height: 300px;
    width: auto;
  }
}

@media only screen and (max-width: 650px) {
  .hero-image {
    margin: 0 auto;
    height: 250px;
    width: auto;
  }
}

/* PROJECTS Grids */

#grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-bottom: 4rem;
  margin-top: 2rem;
}

#gridbox {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-bottom: 4rem;
  margin-top: 2rem;
  background-color: #FCEBD9;
}

.header {
  margin-bottom: 2rem;
}

.p-info {
  margin-bottom: 2rem;
}

.info-left {
  grid-column: 2 / 7;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid-image-right {
  grid-column: 8 / 12;
  background-image: url("../images/WIRES.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 200px;
}

.info-right {
  grid-column: 8 / 12;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-center {
  grid-column: 2 / 13;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid-image-left {
  grid-column: 2 / 7;
  background-image: url("../images/WIRES.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 200px;
}

.insight1 {
  grid-column: 2 / 5;
  background-color: #FCEBD9;
  margin-bottom: 20px;
  padding: 40 40 40 40;
}

.insight2 {
  grid-column: 6 / 9;
  background-color: #FCEBD9;
  margin-bottom: 20px;
  padding: 40 40 40 40;
}

.insight3 {
  grid-column: 10 / 13;
  background-color: #FCEBD9;
  margin-bottom: 20px;
  padding: 40 40 40 40;
}

.insight4 {
  grid-column: 2 / 5;
  background-color: #FCEBD9;
  padding: 40 40 40 40;
}

.insight5 {
  grid-column: 6 / 9;
  background-color: #FCEBD9;
  padding: 40 40 40 40;
}

.insight6 {
  grid-column: 10 / 13;
  background-color: #FCEBD9;
  padding: 40 40 40 40;
}

.list {
  grid-column: 2 / 13;
}

.overview1 {
  grid-column: 2 / 4;
  margin-bottom: 50px;
}

.overview2 {
  grid-column: 5 / 7;
  margin-bottom: 50px;
}

.overview3 {
  grid-column: 8 / 12;
  margin-bottom: 50px;
}

.overview_title {
  font-family: 'Inconsolata';
  font-size: 36px;
  color: #409488;
  margin-top: 2rem;
  margin-left: 40px;
  margin-bottom: 2rem;
  grid-column: span 12;
}

/* WIRES Images */

.heuristic1 {
  grid-column: 8 / 11;
  background-image: url("../images/heuristic_1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 400px;
}

.heuristic2 {
  grid-column: 11 / 13;
  background-image: url("../images/heuristic_2.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 50px;
}

.competitor {
  grid-column: 4 / 13;
  background-image: url("../images/wires_competitor.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 300px;
  margin-top: 40px;
}

.persona {
  grid-column: 4 / 13;
  background-image: url("../images/User\ Journey.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 500px;
}

.feature {
  grid-column: 4 / 10;
  background-image: url("../images/wires_ideate.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 400px;
}

.card {
  grid-column: 4 / 10;
  background-image: url("../images/card.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 500px;
}

.lofi1 {
  grid-column: 2 / 7;
  background-image: url("../images/LoFi.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 300px;
}

.text_left {
  grid-column: 2 / 7;
  font-family: 'Inconsolata', Helvetica, monospace;
  font-size: 20px;
  color: black;
  margin-top: 10px;
}

.text_right {
  grid-column: 7 / 10;
  font-family: 'Inconsolata', Helvetica, monospace;
  font-size: 20px;
  color: black;
  margin-top: 10px;
}

.ab1 {
  grid-column: 7 / 10;
  background-image: url("../images/AB_1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 300px;
}

.ab2 {
  grid-column: 10 / 13;
  background-image: url("../images/AB_2.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 300px;
}

.midfi1 {
  grid-column: 2 / 7;
  background-image: url("../images/MidFi_1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 300px;
}

.midfi2 {
  grid-column: 7 / 13;
  background-image: url("../images/MidFi_2.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 200px;
}

.style1 {
  grid-column: 2 / 7;
  background-image: url("../images/wires_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 300px;
}

.style2 {
  grid-column: 7 / 13;
  background-image: url("../images/wires_colours.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 300px;
}

/* .text_style1 {
  grid-column: 2 / 7;
  font-family: 'Inconsolata', Helvetica, monospace;
  font-size: 20px;
  color: black;
} */

/* .text_style2 {
  grid-column: 7 / 13;
  font-family: 'Inconsolata', Helvetica, monospace;
  font-size: 20px;
  color: black;
} */

.changes {
  grid-column: 2 / 13;
  background-image: url("../images/wires_changes.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 1800px;
}

.responsive1 {
  grid-column: 2 / 4;
  background-image: url("../images/resp_1.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 500px;
}

.responsive2 {
  grid-column: 5 / 7;
  background-image: url("../images/resp_2.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 500px;
}

.responsive3 {
  grid-column: 8 / 10;
  background-image: url("../images/resp_3.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 500px;
}

.responsive4 {
  grid-column: 11 / 13;
  background-image: url("../images/resp_4.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 500px;
}

.iterate1 {
  grid-column: 2 / 4;
  background-image: url("../images/test_1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 500px;
  margin-top: 40px;
}

.iterate2 {
  grid-column: 5 / 7;
  background-image: url("../images/test_2.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 500px;
  margin-top: 40px;
}

.iterate3 {
  grid-column: 8 / 10;
  background-image: url("../images/test_3.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 500px;
  margin-top: 40px;
}

.iterate4 {
  grid-column: 11 / 13;
  background-image: url("../images/test_4.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 500px;
  margin-top: 40px;
}

.text_left_1 {
  grid-column: 2 / 4;
  font-family: 'Inconsolata', Helvetica, monospace;
  font-size: 20px;
  color: black;
  margin-top: 10px;
}

.text_left_2 {
  grid-column: 5 / 7;
  font-family: 'Inconsolata', Helvetica, monospace;
  font-size: 20px;
  color: black;
  margin-top: 10px;
}

.text_right_1 {
  grid-column: 8 / 10;
  font-family: 'Inconsolata', Helvetica, monospace;
  font-size: 20px;
  color: black;
  margin-top: 10px;
}

.text_right_2 {
  grid-column: 11 / 12;
  font-family: 'Inconsolata', Helvetica, monospace;
  font-size: 20px;
  color: black;
  margin-top: 10px;
}

/* IMPACT Hero */

#hero_impact {
  background-color: #4FBAD1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

#gridbox_impact {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-bottom: 4rem;
  margin-top: 2rem;
  background-color: #E8FBFF;
}

.insight_impact1 {
  grid-column: 2 / 5;
  background-color: #E8FBFF;
  margin-bottom: 20px;
  padding: 40 40 40 40;
}

.insight_impact2 {
  grid-column: 6 / 9;
  background-color: #E8FBFF;
  margin-bottom: 20px;
  padding: 40 40 40 40;
}

.insight_impact3 {
  grid-column: 10 / 13;
  background-color: #E8FBFF;
  margin-bottom: 20px;
  padding: 40 40 40 40;
}

.impact_heuristic {
  grid-column: 4 / 10;
  background-image: url("../images/impact_heuristic.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 800px;
}

.impact_competitor {
  grid-column: 4 / 10;
  background-image: url("../images/impact_comp_analysis.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 400px;
}

.impact_persona {
  grid-column: 4 / 10;
  background-image: url("../images/impact_user_persona_2.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 500px;
}

.statement_wires {
  grid-column: 2 / 13;
  background-color: #FCEBD9;
  padding: 40 40 40 40;
  color: #1b3c37;
}

.statement_impact {
  grid-column: 2 / 13;
  background-color: #E8FBFF;
  padding: 40 40 40 40;
  color: #1b3c37;
}

.impact_ia {
  grid-column: 4 / 10;
  background-image: url("../images/impact_ia.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 400px;
}

.impact_userflow {
  grid-column: 4 / 10;
  background-image: url("../images/impact_userflow.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 400px;
  margin-top: 20px;
}

.impact_styleguide {
  grid-column: 4 / 10;
  background-image: url("../images/impact_style_guide.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 400px;
  margin-top: 20px;
}

.impact_web_lofi {
  grid-column: 2 / 6;
  background-image: url("../images/impact_web_lofi.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 400px;
  margin-top: 40px;
}

.impact_web_lofi_2 {
  grid-column: 7 / 11;
  background-image: url("../images/impact_web_lofi_2.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 800px;
  margin-top: 40px;
}

.impact_home_lofi {
  grid-column: 3 / 6;
  background-image: url("../images/impact_home_lofi.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 200px;
  max-height: 400px;
  margin-top: 40px;
}

.impact_home_lofi_2 {
  grid-column: 7 / 11;
  background-image: url("../images/impact_home_lofi_2.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 500px;
  margin-top: 40px;
}

.impact_contact_lofi {
  grid-column: 3 / 6;
  background-image: url("../images/impact_contact_lofi.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 200px;
  max-height: 400;
  margin-top: 40px;
}

.impact_contact_lofi_2 {
  grid-column: 7 / 11;
  background-image: url("../images/impact_contact_lofi_2.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 500px;
  margin-top: 40px;
}

.impact_train_sketch {
  grid-column: 3 / 6;
  background-image: url("../images/impact_train_sketch.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 200px;
  max-height: 400;
  margin-top: 40px;
}

.impact_train_lofi_1 {
  grid-column: 8/ 10;
  background-image: url("../images/impact_train_lofi_1.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 500px;
  margin-top: 40px;
}

.impact_train_lofi_2 {
  grid-column: 10 / 12;
  background-image: url("../images/impact_train_lofi_2.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 500px;
  margin-top: 40px;
}

.impact_train_mid_1 {
  grid-column: 3 / 5;
  background-image: url("../images/impact_train_mid_1.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 500px;
  margin-top: 40px;
}

.impact_train_mid_2 {
  grid-column: 5 / 7;
  background-image: url("../images/impact_train_mid_2.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 500px;
  margin-top: 40px;
}

.impact_train_final {
  grid-column: 8 / 10;
  background-image: url("../images/impact_train_final.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 500px;
  margin-top: 40px;
}

.impact_stages_text_left {
  grid-column: 3 / 6;
  font-family: 'Inconsolata', Helvetica, monospace;
  font-size: 20px;
  color: black;
  margin-top: 10px;
}

.impact_stages_text_right {
  grid-column: 8 / 13;
  font-family: 'Inconsolata', Helvetica, monospace;
  font-size: 20px;
  color: black;
  margin-top: 10px;
}

.impact_coding_1 {
  grid-column: 1 / 7;
  background-image: url("../images/impact_coding_1.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 400px;
  margin-top: 40px;
}

.impact_coding_2 {
  grid-column: 7 / 13;
  background-image: url("../images/impact_coding_2.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 400px;
  margin-top: 40px;
}

.impact_iter_1 {
  grid-column: 1 / 4;
  background-image: url("../images/impact_iter_1.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 400px;
  margin-top: 40px;
}

.impact_iter_2 {
  grid-column: 4 / 7;
  background-image: url("../images/impact_iter_2.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 400px;
  margin-top: 40px;
}

.impact_iter_3 {
  grid-column: 7 / 10;
  background-image: url("../images/impact_iter_3.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 400px;
  margin-top: 40px;
}

.impact_iter_4 {
  grid-column: 10 / 13;
  background-image: url("../images/impact_iter_4.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 400px;
  margin-top: 40px;
}

.impact_iter_5 {
  grid-column: 2 / 5;
  background-image: url("../images/impact_iter_5.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 400px;
  margin-top: 40px;
}

.impact_iter_6 {
  grid-column: 5 / 8;
  background-image: url("../images/impact_iter_6.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 400px;
  margin-top: 40px;
}

.impact_iter_7 {
  grid-column: 8 / 11;
  background-image: url("../images/impact_iter_7.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 400px;
  margin-top: 40px;
}

.impact_hifi_1 {
  grid-column: 1 / 4;
  background-image: url("../images/impact_hifi_1.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 500px;
  margin-top: 40px;
}

.impact_hifi_2 {
  grid-column: 4 / 7;
  background-image: url("../images/impact_hifi_2.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 500px;
  margin-top: 40px;
}

.impact_hifi_3 {
  grid-column: 7 / 10;
  background-image: url("../images/impact_hifi_3.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 500px;
  margin-top: 40px;
}

.impact_hifi_4 {
  grid-column: 10 / 13;
  background-image: url("../images/impact_hifi_4.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 500px;
  margin-top: 40px;
}

.impact_hifi_5 {
  grid-column: 1 / 4;
  background-image: url("../images/impact_hifi_5.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 500px;
  margin-top: 40px;
}

.impact_hifi_6 {
  grid-column: 4 / 7;
  background-image: url("../images/impact_hifi_6.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 500px;
  margin-top: 40px;
}

.impact_hifi_7 {
  grid-column: 7 / 10;
  background-image: url("../images/impact_hifi_7.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 500px;
  margin-top: 40px;
}

.impact_hifi_8 {
  grid-column: 10 / 13;
  background-image: url("../images/impact_hifi_8.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 500px;
  margin-top: 40px;
}

.impact_hifi_9 {
  grid-column: 1 / 4;
  background-image: url("../images/impact_hifi_9.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 500px;
  margin-top: 40px;
}

.impact_hifi_10 {
  grid-column: 4 / 7;
  background-image: url("../images/impact_hifi_10.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 500px;
  margin-top: 40px;
}

.impact_hifi_11 {
  grid-column: 7 / 10;
  background-image: url("../images/impact_hifi_11.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 500px;
  margin-top: 40px;
}

.impact_hifi_12 {
  grid-column: 10 / 13;
  background-image: url("../images/impact_hifi_12.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 500px;
  margin-top: 40px;
}